body {
    margin: 0px;
    font-family: "Roboto","sans-serif";
    font-size: 9pt;
    background-color: #222;
    color: #ccc;
}
a {
    color: #fc8;
}
input {
    font-family: "Roboto";
}
*[contenteditable]{ outline: none; }
blockquote {
    margin-left: 2em;
}

#topBar {
    background-color: #444;
    width: 100%;
    text-align: left;
    color: #CCC;
    z-index: 1;
}
#topBar * {
    text-transform: uppercase;
    text-decoration: none;
}

#topBar table {
    background-color: black;
    border-collapse: collapse;
    width: 100%;
}
#logo {
    width: 5em;
}
#logo *{
    color: white;
    margin: 0em 0em 0em 0em;
    vertical-align: middle;
}
#mainNav, #filterSearchEtc{
    text-align: left;
    padding: 0.15em;
}
#mainNav a, #filterSearchEtc a{
    padding: 0.25em;
    font-weight: bold;
    color: #CCC;
}
#mainNav a:hover, #filterSearchEtc a:hover{
    color: white;
    background-color: #222;
}
#userArea { text-transform: none; text-align: right; }
#userArea a {
    color: #ddd;
}
#userInfo { 
    text-align: right; 
    display: inline-block;
    vertical-align: middle;
}
#userDisplayName { text-decoration: none; display: block;}
#userWebfingerName { text-decoration: none; display: block; font-size: smaller; }
#userAvatar {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0px 0px 0px 0.5em;
    vertical-align: middle;
}
#settingsButton{
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-size: 2em;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    display: inline-block;
}
#logout { display: none; }
#topBar  input{
    font-size: 9pt;
    background-color: #111;
    color: white;
    border: none;
}
#filterSearchEtc *{
    vertical-align: middle;
}

#searchArea {

}
/* USER POPUP */
div.userInfoCard {
    width: 480px;
}
.userInfoCard img {
    width: 64px;
}
.userInfoCard figure {
    float: left;
    margin: 0.5em 1em;
}
.userInfoCard h1 {
    font-size: 1.3em;
    margin: 0em;
}
.userInfoCard h2 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0em;
}

/* SETTINGS DIALOGUE */
#settings {
    display: none;
    padding: 1em;
    color: white;
    background-color: #111;
}
#settings input[type="text"]{
    background-color: #111;
    padding: 0.25em;
    margin: 0.25em;
    border: solid 1px #222;
    font-family: monospace;
    color: #f55;
}

#flexor {
    position: absolute;
    top: 3em;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    overflow: hidden;
    background-color: #111;
}

.scrollbarframe {
    width: 1em;
}
.scrollbarhandle {
    width: 0.5em; 
    background-color: red;
    min-height: 1em;
}


/* OPERATIONS FLAP */
#toolFlap {
    text-align: right;
    z-index: 99999;
    border-right: solid 2px #C00;
    padding: 0em 0.2em;
}
#toolFlap > input[type="button"]{
    font-size: 0.85em;
    font-weight: bold;
    vertical-align: middle;
    border: none;
    padding: 0.25em;
    margin: 0.1em 0.1em;
    background-color: #111;
}
#toolFlap > input[type="button"]:hover{
    
    color: white;
}
/* ARTICLES ==================================== */

article{ 
    background-color: #111;
    color: #888;
    border-top: 1px solid #222;
    border-left: 1px solid #181818;
    border-bottom: 1px solid #000;
    overflow: hidden;
}
article[data-localId=""]{
    background-color: #100808;
    color: #766;
    border-top: 1px solid #201818;
    border-left: 1px solid #181010;
}
article:target {
    background-color: #282828;
}

article a { 
    text-decoration: none; 
    color: white; 
    text-decoration: none; }
article a.mention { color: #F85; }
article a.group { color: #DF5; }
article a.attachment {color: #BDA; }
article a.inlineImage {
    display: block;
    text-align: center;
    margin: 0.5em 0em;
}
article img, article video, article audio{
    max-width: 100%;
}

/* HEADER AREA */
article header{
    padding: 0.5em;
    color: #ddd;
    overflow: hidden;
    border-right: solid 2px transparent;
    cursor: pointer;
}
.articleHeader{
    cursor: context-menu;
}
.articleHeader:hover{
    border-right: solid 2px #A00;
}
.drawer article[data-verb='share'] .articleHeader, .drawer article[data-verb='favorite'] .articleHeader{
    font-size: smaller;
}

article .avatar { 
    width: 48px;
    height: 48px;
    float: left;
    margin: 0.5em;
    cursor: pointer;
}
.drawer article[data-verb='share'] .avatar, .drawer article[data-verb='favorite'] .avatar {
    display: none;
}
/* Don't display likes by themselves. Only display them when they are in drawers. */
#mainTimeline > article[data-verb='favorite'] { display: none; }

#mainTimeline article header .avatar{ display: none; }
#convoDiv article header .avatar { }

article header .tlDateline{
    font-size: 0.85em;
    color: #777;
    float: right;
}
article header .tlDate{ }
article header .tlTime{
    font-family: "Roboto Condensed","sans-serif";
    font-size: 1.2em;
    color: white;
}
article header .displayName {
    max-width: 20em;
    overflow: hidden;
}
article header .webfingerName {
    font-size: 0.85em;
}
article header .extInfo{
    font-family: monospace;
    font-size: smaller;
    color: #666;
    padding: 0.5em;
}

/* BODY/CONTENT-AREA */
article main{
    padding: 0.5em;
    background-color: inherit;
}

/*
article.timelineArticle:target{
    background-color: #232020;
}
*/

.articleAttachment{
    margin: 0.5em;
    padding: 0.75em;
    clear: both;
    background-color: #181818;
}
.articleAttachment embed{
    max-width: 100%;
}

article footer{;
    text-align: left;
    font-size: small;
    padding: 0px;
    cursor: pointer;
    clear: both;
}
#mainTimeline article footer {
    display: none;
}
article input[type="button"]{
    background-color: black;
    border: solid #333 1px;
    color: #888;
    margin: 0.25em;
}

.drawer{
    padding-left: 1em;
}
/* Hide content of nested shares and favors */
.drawer article[data-verb="share"] main{
    display: none;
}
.drawer article[data-verb="share"] img{
    display: none;
}
.drawer article[data-verb="share"] footer{
    display: none;
}
.drawer article[data-verb="share"] header::after{
    content: " shared this";
}
.drawer article[data-verb="favorite"] main{
    display: none;
}
.drawer article[data-verb="favorite"] img{
    display: none;
}
.drawer article[data-verb="favorite"] footer{
    display: none;
}
.drawer article[data-verb="favorite"] header::after{
    content: " likes this";
}

#feedNav a{
    background-color: #DCA;
}
#postNav{
    margin: 0em 2em;
}
#postNav a{
}
p.barf{
    font-size: smaller;
    font-family: monospace;
    margin: 0.25em 3em;
    color: lightgreen;
}
#infoArea {
    color: #888;
    padding: 1em;
}
#infoArea h1, h2{
    margin: 0em 0em 0.5em 0em;
}

/* ******** TIMELINE COLUMN ******** */
#timelineDiv {
    width: 40%;
    overflow-y: auto;
    /*position: relative;*/
}
#timelineHeader{
    position: sticky;
    color: #ccc;
    background-color: black;
    border-bottom: solid 1px #333;
    padding: 0.25em;
    font-weight: bold;
    text-transform: uppercase;
    top: 0px;
}
#filterFlapToggle {
    display: block;
    float: right;
    font-size: smaller;
    text-decoration: none;
    cursor: context-menu;
}
#filterArea {
    display: none;
    font-weight: normal;
    font-size: smaller;
}
#filterArea *{
    vertical-align: middle;
}
#mainTimeline {
    padding: 0em 0.0em 0em 0em;
}


/* ********* EDITOR ********** */
#postEditor{
    display: none;
    border-top: 1px solid #333;
    border-left: 1px solid #222;
    border-right: 1px solid #080808;
    border-bottom: solid black 3px;
    background-color: #111;
    color: grey;
    padding: 0.25em;
}
#postEditorButtons{
    text-align: justify;
    padding: 0.5em 0.25em 0em;
}
#postEditor input[type="button"]{
    padding: 0em 0.2em;
    background-color: #222;
    border: 0px;
    margin: 0.1em;
    border-left: 0px;
    color: grey;
}
#postEditor input[type="button"]:hover{
    color: white;
    background-color: #822;
}
table.form {
    display: block;
    background-color: #111;
    border-collapse: collapse;
    overflow: hidden;
}
table.form td {
    padding: 0.25em;
}
table.form td.formInput{
    min-width: 1000px;
    font-size: smaller;
    margin: 0.1em;
    border: solid black 1px;
    background-color: #080808;
}
td.formLabel{
    width: 0;
    text-align: right;
}
#editorAction { 
    margin: 0rem 0.25rem; 
    font-size: larger; 
    font-weight: bold; 
    text-transform: uppercase;
    cursor: pointer;
}
#replyTo {display: none;}
#resolvedReplyTo{ display: block; padding: 0.25em; font-size: smaller;}

#contentEditor{
    margin: 0.25em 0em;
    min-height: 4em;
    max-height: 60vh;
    overflow: auto;
    padding: 0.5em;
    border: solid black 1px;
    background-color: #000;
    color: grey;
}

/* ***** CONVERSATION VIEW ***** */
#convoDiv{
    /* flex-grow: 2;
    vertical-align: top;
    position: absolute;
    background-color: #000; */
    background-color: black;
    overflow-y: auto;
    padding: 0em 0em 1em 0em;
    width: 60%;
    /*position: relative;*/
}

#hideout{
display: none;
}
.formLabel{
    cursor: help;
}
.floater {
    position: fixed;
    border: solid black 1px;
    background-color: #222;
    padding: 0.5em;
    color: grey;
    overflow: auto;
    max-width: 90vw;
    max-height: 90vh;
}
.floater > input[type="button"]{
    padding: 0.1em;
    background-color: black;
    border: solid 1px #333;
    color: #ccc;
}
.floater > input[type="button"]:hover{
    background-color: #F55;
    border: solid 1px #333;
    color: #000;
}
.floater > span{ margin: 0.25em; }
.floater embed{ 
    display: block;
    max-width: 80vw;
    max-height: 80vh;
}

::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #333;
    /*-webkit-border-radius: 1ex;*/
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-thumb:hover {
    background: #F55;
}

::-webkit-scrollbar-corner {
    background: #000;
}
    