  <header id="topBar">
    <table> <!-- Because tables actually work. -->
      <tr>
	<td id="logo">
	  <a href="http://aegn.us/">
	    <h1 id="logo">ÆGNUS</h1>
	  </a>
	</td>
	<td id="mainNav">
	  <a id="tlHome" href="javascript:getTimeline('home');">HOME</a>
	  <a id="tlNode" href="javascript:getTimeline('public');">NODE</a>
	  <a id="tlNet" href="javascript:getTimeline('network');">NETWORK</a>
	  <a id="tlMe" href="javascript:getTimeline('outbox');">MY POSTS</a>
	  <a id="tlMentions" href="javascript:getTimeline('replies');">@ME</a>
	  <a id="tlFaves" href="javascript:getTimeline('favorites');">FAVES</a>
	</td>
	<td id="filterSearchEtc">
	  <span id="searchArea">
	    Search:
	    <input id="searchBox" type="text" width="20"></input>
	    <a id="searchButton" href="javascript:getTimeline('search');">&#x23CE</a>
	  </span>
	  <span id="postNav">
	    <a href="javascript:compose('note');"><big>&#9997;</big>NEW POST</a>
	  </span>
	</td>
	<td id="userArea">
	  <div id="userInfo">
	    <a id="userDisplayName" href="">Not Logged In</a>
	    <a id="userWebfingerName" href=""></a>
	    <input id="logout" type="button" value="logout" onclick="logout()">
	  </div>
	  <img id="userAvatar">
	  <a id="settingsButton" title="Toggle the Settings panel." href="javascript:settingsToggle()">&#9881;</a>
	</td>
      </tr>
    </table>
  </header>

  <div id="flexor">

    <div id="timelineDiv" style="top: 0px;">
      <div id="timelineHeader">
	<a id="filterFlapToggle">filters</a><!--
	<a id="filterFlapToggle" href="javascript:filterFlap()">filters</a> -->
	<span id="timelineTitle">TIMELINE HEADER</span>
	<div id="filterArea">
	  Show:
	  <input id="showComments" 
		 type="checkbox"
		 checked
		 onclick="filterToggle('replies')">Replies
	  <input id="showAttachments" 
		 type="checkbox"
		 checked
		 onclick="filterToggle('attachments');">Enclosures
	  <input id="showAvatars" 
		 type="checkbox" 
		 checked
		 onclick="filterToggle('avatars');">Avatars
	  <input id="showAdult" 
		 type="checkbox" 
		 onclick="filterToggle('nsfw');">NSFW
	  <span>
	</div>
      </div>
      <main id="mainTimeline">
	<article>
	  <h1>Feed Pane</h1>
	  <p>An retrochron stack of activities shall fill this space.
	  </p>
	</article>
      </main>
    </div>
    <!--
    <div id="timelineScrollArea" class="scrollbarframe">
      <div id="timelineScroller" class="scrollbarhandle">
      </div>
    </div>
    -->
    <main id="convoDiv" style="top: 0px;">
      <div id="settings">
	<h2>SETTINGS</h2>
	<section id="loginForm">
	  <h3>User Information</h3>
	  <label>Username
	    <input id="userNick"
		   size="30"
		   type="text"
		   placeholder="user"
		   value=""></input>
	  </label><br>
	  <label>Server
	    <input id="userNode"
		   size="30"
		   type="text"
		   placeholder="gs.example.org"
		   value=""></input>
	  </label>
	  <label>HTTPS:
	    <input id="serverSSL" type="checkbox" checked></input>
	  </label><br>
	  <input id="oauthSignIn" type="button" value="OAuth Sign-in" onclick="javascript:oauthSignIn();">
	</section>
	<section id="oauthSettings">
	  <h3>OAuth Client Settings</h3>
	  <label>Consumer Key: 
	    <input id="OAuthCKey"
		   size="40"
		     type="text"
		     placeholder="OAuth Consumer Key"
		     value=""></input>
	</label><br>
	<label>Consumer Secret:
	  <input id="OAuthCSecret"
		 size="40"
		 type="text"
		 placeholder="OAuth Consumer Secret"
		 value=""></input>
	</label>
      </section>
      <section id="miscSettings">
	<h3>Misc.</h3>
	<div style="display: none">
	<label>CORS Proxy:
	  <input id="customProxy"
		 size="30"
		 type="text"
		 placeholder="CORS proxy URL"
		 value="http://crossorigin.me/"></input>
	</label>
	</div>
	<label>Timeline Refresh Rate (ms):
	  <input id="refreshRate"
		 size="10"
		 type="text"
		 placeholder="3000 = 5 minutes"
		 value="3000"></input>
	</label>
      </section>
      <input id="applySettings" type="button" value="Apply Settings" onclick="javascript:applySettings();">
    </div>

    <div id="infoArea">
      <h1>ÆGNUS</h1>
      <h2>A GNU social Client</h2>
      <h3>Instructions:</h3>
      <p>You'll need to register this as an OAuth application on your server. In another tab/window, go to:</p>
      <pre><code>https://{your.server}/settings/oauthapps/new</code></pre>
      <p>And fill-out the form. All fields need to be filled with <i>something</i> — you can fill them with whatever you want, except the <strong>Callback URL</strong>, which needs to be set to <code>http://aegn.us</code>. The type of app should be set to <strong>Browser</strong>, and if you want to post notices you'll need to select <strong>Read-write</strong> access.</p>
      <p>After you've saved those settings, you'll be shown a list of OAuth applications that you've registered. Click on the one you just registered to see the <strong>Consumer key</strong> and <strong>Consumer secret</strong> for the application. Then, back here in ÆGNUS, click the gear (&#9881;) in the upper-right to open the settings panel. Fill-in your GNU social user name and server, and copy/paste the Consumer Key and Consumer Secret into the corresponding fields. At that point, you should be able to hit the OAuth Sign-in button, authorize the app, and then play around with it.</p>
  
      <h3>TODO</h3>
<p>Oh, there's so much. Let's see...
      <ul>
	<li>Repeats</li>
	<li>Make searches work (curse you, heterogeneous response formats)</li>
	<li>Make WebFinger mentions work for remote users</li>
	<li>Groups: search, list, join/leave...</li>
	<li>People: search, list, follow/unfollow...</li>
	<li>File uploads</li>
	<li>Modify user profile/avatar</li>
	<li>Read remote timelines</li>
	<li>Timeline filtering (by post type, content, etc) <mark>WORKING! G6L.0511</mark></li>
	<li>Show recipients in full header view</li>
	<li>...and probably a few dozen other things.</li>
      </ul>
    </div>
    <div id="convoArea">
    </div>
    <div id="barfArea">
    </div>
    </main>
    <!--
    <div id="convoScrollArea" class="scrollbarframe">
      <div id="convoScroller" class="scrollbarhandle">
      </div>
    </div>
    -->
  </div>

  <div id="postEditor">
    <div id="editorAction"></div>
    <input id="replyTo" type="text" size="20" placeholder="Reply-To post URL">
    <span id="resolvedReplyTo"></span>
    <table class="form">
      <tr>
	<td class="formLabel" title="Silently mention a user or group without having to @- or !- mention them in your post text; space or comma delimited. ex.: '@kenji @serge, !metahumans,@zardoz'">To:</td>
	<td id="silentMentions" class="formInput" contenteditable="true">
	</td>
      </tr>
    </table>
    <div id="contentEditor" contenteditable="true"></div>
    <!-- <input id="mediaEnclosure"
		type="text"
		size="20"
		placeholder="media URL for enclosure"
		value=""> -->
    <table class="form"><tr>
	<td class="formLabel"
	    title="Tag your post without having to write the tags in its content area; space or comma delimited, ex.: '#perfunctory #thePenIsMightier, #foo,#bar'">Tags:</td>
	<td id="silentTags" class="formInput" contenteditable="true">
	</td>
    </tr></table>
    <!-- Buttons go here -->
  </div>
</div>
<div id="hideout">
</div>

